# Module 3 Exercises - Data Manipulation

### Exercise 1:

From the datasets folder, load in the "dupedata.csv" file as a dataframe. Drop the duplicates from the dataframe, keeping the first value (save the resulting dataframe to a new variable).

In [83]:
import pandas as pd
import numpy as np

In [84]:
location = "datasets/dupedata.csv"
dupe_df = pd.read_csv(location)

In [85]:
dupe = dupe_df.duplicated()
dupe_df[dupe]

,fname,lname,gender,age,exercise,hours,grade,address
1731,Henry,Stafford,male,14,3,11,75.7,"7071 Edgewater Rd., South Windsor, CT 06074"
1785,Aspen,Ayers,female,14,2,14,96.8,"8218 Yukon Ave., Hazleton, PA 18201"
1786,Signe,Bentley,female,14,1,6,71.8,"7008 Augusta Ave., Macomb, MI 48042"
1787,Lunea,Perkins,female,14,2,10,85.3,"956 Laurel Road, Oxford, MS 38655"
1788,Alvin,Bullock,male,16,1,18,90.1,"82 Thorne Ave., Ann Arbor, MI 48103"
1789,Herman,Potter,male,17,4,14,88.4,"833 Thompson Dr., Feasterville Trevose, PA 19053"
2006,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379"
2007,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202"
2008,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013"
2009,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911"
2010,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801"
2011,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173"
2012,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372"
2013,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601"
2014,Libby,Guzman,female,19,1,19,100.0,"666 S. Pennington Rd., Dover, NH 03820"
2015,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542"
2016,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060"
2017,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911"
2018,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907"
2019,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605"
2020,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079"
2021,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115"
2022,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460"
2023,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762"
2024,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
2025,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2026,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
2027,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
2028,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
2029,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003"
2030,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335"
2031,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167"
2032,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301"
2033,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379"
2034,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202"
2035,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013"
2036,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911"
2037,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801"

In [86]:
nodupedf = dupe_df.drop_duplicates()
nodupedf.count()

fname       2000
lname       2000
gender      2000
age         2000
exercise    2000
hours       2000
grade       2000
address     2000
dtype: int64

In [87]:
dupe_df.drop_duplicates(['fname','lname','address'],keep='last')

,fname,lname,gender,age,exercise,hours,grade,address
27,Ulla,Warren,female,18,1,16,83.5,"89 Fairview Avenue, Hopkins, MN 55343"
28,Tyler,Collier,male,16,1,9,69.7,"65 Lookout Street, Marshfield, WI 54449"
29,Emma,Mccall,female,16,2,13,91.1,"854 Sussex Street, Westford, MA 01886"
30,Isaiah,Newman,male,16,2,12,91.9,"12 Shirley Road, Everett, MA 02149"
31,Carol,Acosta,female,16,3,13,85.0,"8459 Windfall St., Navarre, FL 32566"
32,Georgia,Munoz,female,14,5,20,99.0,"84 New Saddle St., Revere, MA 02151"
33,Doris,Melendez,female,17,5,12,93.2,"8 Euclid Drive, Bel Air, MD 21014"
34,Eric,Larsen,male,14,2,11,71.9,"366 State Ave., Hendersonville, NC 28792"
35,Cain,Sexton,male,16,3,8,85.3,"9370 Green Hill Dr., Beaver Falls, PA 15010"
36,Ivor,Arnold,male,19,4,20,100.0,"7027 Magnolia Dr., Catonsville, MD 21228"
37,Devin,Jacobs,male,14,3,14,98.1,"9033 NW. Pleasant St., Salisbury, MD 21801"
38,Rebekah,Brock,female,16,2,5,68.9,"74 Gonzales Court, Natchez, MS 39120"
39,Cameran,Sears,female,14,4,8,75.4,"6 S. Edgewater Ave., Royersford, PA 19468"
40,Norman,Cunningham,male,17,2,10,76.8,"8365 Liberty Street, Miami, FL 33125"
41,Lenore,Copeland,female,14,4,8,74.0,"74 Howard Ave., Southfield, MI 48076"
42,Keelie,Guerrero,female,15,1,12,81.0,"221 Walt Whitman Court, Redondo Beach, CA 90278"
43,Hilel,Hamilton,male,15,2,17,95.2,"9761 Lexington Street, Littleton, CO 80123"
44,Dolan,Ford,male,14,3,3,64.2,"12 New St., Newark, NJ 07103"
45,Rhea,Melton,female,18,5,12,95.0,"9210 Fawn Drive, South Richmond Hill, NY 11419"
46,Fulton,Castaneda,male,14,3,10,71.2,"956 East Street, Hamburg, NY 14075"
47,Kiayada,Bullock,female,18,3,11,74.9,"613 Peg Shop Court, Yuma, AZ 85365"
48,Aurelia,Clayton,female,14,5,3,72.1,"81 High Ave., Bear, DE 19701"
49,Nero,Klein,male,18,2,10,87.8,"164 Lakeview St., Port Chester, NY 10573"
50,Aladdin,Chambers,male,19,4,11,82.6,"838 Magnolia Drive, Arlington, MA 02474"
51,Beau,Goff,male,19,2,15,85.1,"848 Creekside Road, Germantown, MD 20874"
52,Octavius,Walker,male,15,2,11,81.3,"568 Longfellow Street, Garland, TX 75043"
53,Allen,Livingston,male,18,5,13,89.4,"399 Pheasant Drive, Natick, MA 01760"
54,Basil,Fuller,male,16,3,9,86.4,"8216 Constitution Street, Romulus, MI 48174"
55,Reese,Kline,male,16,4,11,83.5,"105 Pineknoll Drive, Shirley, NY 11967"
56,Tate,Dunlap,male,17,2,6,67.7,"256 High Street, Youngstown, OH 44512"
...,...,...,...,...,...,...,...,...
2003,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
2004,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
2005,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"
2011,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173"
2012,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372"
2013,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601"
2014,Libby,Guzman,female,19,1,19,100.0,"666 S. Pennington Rd., Dover, NH 03820"
2015,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542"
2016,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060"
2017,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911"
2018,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907"
2019,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605"
2020,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079"
2021,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115"
2022,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460"
2023,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762"
2024,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
2025,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2026,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
2027,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
2028,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
2029,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003"
2030,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335"
2031,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167"
2032,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301"
2033,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379"
2034,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202"
2035,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013"
2036,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911"
2037,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801"

### Exercise 2:

Using the dataframe in the previous exercise, select all the rows where students received a grade lower than 60 (they need a teacher conference on how to improve for the next test).

In [88]:
dupe_df.loc[(dupe_df['grade']<= 60)]

,fname,lname,gender,age,exercise,hours,grade,address
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703"
410,Linda,Baldwin,female,16,5,2,59.0,"970 SW. Second Ave., Cedar Falls, IA 50613"
556,Lacey,Nieves,female,18,1,2,57.9,"38 West Brickyard Avenue, Roslindale, MA 02131"
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292"
672,Ciaran,Gay,male,19,4,3,59.3,"157 Bridge Street, Corona, NY 11368"
700,Steven,Sherman,male,18,1,2,60.0,"8029 Depot Street, Port Charlotte, FL 33952"
972,Keegan,Rasmussen,male,19,4,3,43.0,"876 East Pilgrim Street, Chelmsford, MA 01824"
1068,Isaiah,Harrington,male,17,1,4,58.9,"47 Mill Pond St., Haines City, FL 33844"
1207,Selma,Stout,female,19,2,3,59.4,"5 Pierce St., Chester, PA 19013"
1237,Willa,Byers,female,14,2,4,59.2,"9466 Wayne Lane, Torrington, CT 06790"
1494,Jenna,Wagner,female,16,1,3,56.3,"8829 Shore Dr., Hopewell Junction, NY 12533"
1876,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302"
1888,Fitzgerald,Goff,male,18,1,4,59.8,"3 West Shipley Rd., Langhorne, PA 19047"
1916,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037"
1930,Xanthus,Mcneil,male,16,3,4,59.8,"226 Redwood Lane, Boynton Beach, FL 33435"

In [89]:
 
bins = [0,60]
group_names = ['they need a teacher conference on how to improve for the next test']
dupe_df['result']=pd.cut(dupe_df['grade'],bins, labels=group_names)
dupe_df.loc[(dupe_df['grade']<= 60)]

,fname,lname,gender,age,exercise,hours,grade,address,result
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703",they need a teacher conference on how to impro...
410,Linda,Baldwin,female,16,5,2,59.0,"970 SW. Second Ave., Cedar Falls, IA 50613",they need a teacher conference on how to impro...
556,Lacey,Nieves,female,18,1,2,57.9,"38 West Brickyard Avenue, Roslindale, MA 02131",they need a teacher conference on how to impro...
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292",they need a teacher conference on how to impro...
672,Ciaran,Gay,male,19,4,3,59.3,"157 Bridge Street, Corona, NY 11368",they need a teacher conference on how to impro...
700,Steven,Sherman,male,18,1,2,60.0,"8029 Depot Street, Port Charlotte, FL 33952",they need a teacher conference on how to impro...
972,Keegan,Rasmussen,male,19,4,3,43.0,"876 East Pilgrim Street, Chelmsford, MA 01824",they need a teacher conference on how to impro...
1068,Isaiah,Harrington,male,17,1,4,58.9,"47 Mill Pond St., Haines City, FL 33844",they need a teacher conference on how to impro...
1207,Selma,Stout,female,19,2,3,59.4,"5 Pierce St., Chester, PA 19013",they need a teacher conference on how to impro...
1237,Willa,Byers,female,14,2,4,59.2,"9466 Wayne Lane, Torrington, CT 06790",they need a teacher conference on how to impro...
1494,Jenna,Wagner,female,16,1,3,56.3,"8829 Shore Dr., Hopewell Junction, NY 12533",they need a teacher conference on how to impro...
1876,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302",they need a teacher conference on how to impro...
1888,Fitzgerald,Goff,male,18,1,4,59.8,"3 West Shipley Rd., Langhorne, PA 19047",they need a teacher conference on how to impro...
1916,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037",they need a teacher conference on how to impro...
1930,Xanthus,Mcneil,male,16,3,4,59.8,"226 Redwood Lane, Boynton Beach, FL 33435",they need a teacher conference on how to impro...

### Exercise 3:

Using the dataframe from Exercise 1, select all the rows where a student received a grade of 100 and change their grade to 103 (extra credit!).

In [90]:
dupe_df.loc[dupe_df['grade']==100, 'grade']=103
dupe_df

,fname,lname,gender,age,exercise,hours,grade,address,result
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747",NaN
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",NaN
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",NaN
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125",NaN
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035",NaN
5,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003",NaN
6,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335",NaN
7,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167",NaN
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301",NaN
9,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379",NaN
10,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202",NaN
11,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",NaN
12,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",NaN
13,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",NaN
14,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173",NaN
15,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372",NaN
16,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601",NaN
17,Libby,Guzman,female,19,1,19,103.0,"666 S. Pennington Rd., Dover, NH 03820",NaN
18,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542",NaN
19,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060",NaN
20,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911",NaN
21,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907",NaN
22,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605",NaN
23,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079",NaN
24,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115",NaN
25,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460",NaN
26,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762",NaN
27,Ulla,Warren,female,18,1,16,83.5,"89 Fairview Avenue, Hopkins, MN 55343",NaN
28,Tyler,Collier,male,16,1,9,69.7,"65 Lookout Street, Marshfield, WI 54449",NaN
29,Emma,Mccall,female,16,2,13,91.1,"854 Sussex Street, Westford, MA 01886",NaN
...,...,...,...,...,...,...,...,...,...
2008,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",NaN
2009,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",NaN
2010,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",NaN
2011,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173",NaN
2012,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372",NaN
2013,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601",NaN
2014,Libby,Guzman,female,19,1,19,103.0,"666 S. Pennington Rd., Dover, NH 03820",NaN
2015,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542",NaN
2016,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060",NaN
2017,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911",NaN
2018,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907",NaN
2019,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605",NaN
2020,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079",NaN
2021,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115",NaN
2022,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460",NaN
2023,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762",NaN
2024,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747",NaN
2025,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",NaN
2026,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",NaN
2027,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125",NaN
2028,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035",NaN
2029,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003",NaN
2030,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335",NaN
2031,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167",NaN
2032,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301",NaN
2033,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379",NaN
2034,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202",NaN
2035,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",NaN
2036,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",NaN
2037,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",NaN

### Exercise 4:

Load in the "travel_times.csv" file as a dataframe. Drop the "Comments" column. Then remove rows from the dataframe that have missing values and assign the resulting dataframe as a new variable.

In [91]:
location1 = "datasets/travel_times.csv"
travel_df = pd.read_csv(location1)
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [92]:
travel_df.drop('Comments', axis=1)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No
5,1/3/2012,07:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No
...,...,...,...,...,...,...,...,...,...,...,...,...
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes

### Exercise 5:

Using the dataframe from the exercise above (w/ no missing values), create bins that will categorize the AvgSpeed column as "slow" or "fast", and make a new column called "Speed" to hold those new values. Values less than 75 are "slow" and everything above is "fast".

In [93]:
travel_df_no_missing = travel_df.dropna()
travel_df_no_missing

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on
49,11/21/2011,07:24,Monday,GSK,52.25,127.3,38.1,50.3,10.05,82.3,62.4,No,Huge traffic backup
50,11/17/2011,16:16,Thursday,Home,51.16,127.6,72.4,77.4,10.05,42.4,39.6,No,Pumped tires up: check fuel economy improved?
52,11/16/2011,16:13,Wednesday,Home,51.12,125.1,65.0,73.1,9.53,47.2,41.9,No,Backed up at Bronte
54,11/15/2011,17:36,Tuesday,Home,51.06,122.8,61.4,70.9,9.53,49.9,43.2,No,Backed up at Bronte
60,11/9/2011,16:15,Wednesday,Home,51.28,121.4,65.9,71.8,9.35,46.7,42.1,No,Rainy
78,10/25/2011,17:24,Tuesday,Home,52.87,123.5,65.1,72.4,8.97,48.7,43.8,No,"Rain, rain, rain"
91,10/12/2011,17:47,Wednesday,Home,51.40,114.4,59.7,65.8,8.75,51.7,46.9,No,"Rain, rain, rain"
92,10/12/2011,08:28,Wednesday,GSK,50.58,128.4,59.5,67.3,8.75,51.0,45.1,Yes,Accident: backup from Hamilton to 407 ramp
110,9/27/2011,07:36,Tuesday,GSK,50.65,128.1,86.3,88.6,8.31,35.2,34.3,Yes,Raining
132,9/7/2011,07:57,Wednesday,GSK,49.08,125.1,56.5,66.5,8.5,52.1,44.3,No,Back to school traffic?
133,9/6/2011,16:27,Tuesday,Home,52.88,131.6,95.4,98.3,8.5,33.3,32.3,Yes,Took 407 all the way (to McMaster)
150,8/24/2011,07:59,Wednesday,GSK,49.07,127.1,58.5,71.5,8.54,50.3,41.1,No,Heavy volume on Derry
156,8/19/2011,07:05,Friday,GSK,49.18,123.0,72.0,81.4,8.37,41.0,36.3,No,Start early to run a batch
158,8/18/2011,08:11,Thursday,GSK,52.26,137.7,51.2,64.1,8.37,61.2,48.9,No,Accident at 403/highway 6; detour along Dundas
165,8/12/2011,17:25,Friday,Home,55.57,127.7,69.6,77.1,8.54,47.9,43.2,No,Detour taken
166,8/12/2011,08:05,Friday,GSK,49.02,128.4,76.7,82.9,8.54,38.4,35.5,No,Must be Friday
172,8/9/2011,08:15,Tuesday,GSK,49.08,134.8,60.5,67.2,8.54,48.7,43.8,No,Medium amount of rain
174,8/8/2011,08:07,Monday,GSK,49.25,126.3,68.5,78.2,8.54,43.1,37.8,No,New tires
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,Turn around on Derry
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,Empty roads
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,Police slowdown on 403
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,Accident blocked 407 exit

In [94]:
bins =[0,75,200]
group_names =['slow','fast']
travel_df['Speed']=pd.cut(travel_df['AvgSpeed'], bins, labels=group_names)
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,Speed
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN,fast
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN,fast
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN,fast
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN,slow
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN,fast

In [95]:
pd.value_counts(travel_df['Speed'])

slow    116
fast     89
Name: Speed, dtype: int64

In [96]:
travel_df.groupby('Speed')['AvgSpeed'].mean()

Speed
slow    67.341379
fast    83.778652
Name: AvgSpeed, dtype: float64

In [97]:
travel_df.dtypes

Date                object
StartTime           object
DayOfWeek           object
GoingTo             object
Distance           float64
MaxSpeed           float64
AvgSpeed           float64
AvgMovingSpeed     float64
FuelEconomy         object
TotalTime          float64
MovingTime         float64
Take407All          object
Comments            object
Speed             category
dtype: object

### Exercise 6:

Using the dataframe in the previous exercise, make a new column called "Police" which is equal to all the values being "no" (they were never stopped by police for speeding while traveling).

In [98]:
travel_df_no_missing['Police']='No'
travel_df_no_missing

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,Police
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on,No
49,11/21/2011,07:24,Monday,GSK,52.25,127.3,38.1,50.3,10.05,82.3,62.4,No,Huge traffic backup,No
50,11/17/2011,16:16,Thursday,Home,51.16,127.6,72.4,77.4,10.05,42.4,39.6,No,Pumped tires up: check fuel economy improved?,No
52,11/16/2011,16:13,Wednesday,Home,51.12,125.1,65.0,73.1,9.53,47.2,41.9,No,Backed up at Bronte,No
54,11/15/2011,17:36,Tuesday,Home,51.06,122.8,61.4,70.9,9.53,49.9,43.2,No,Backed up at Bronte,No
60,11/9/2011,16:15,Wednesday,Home,51.28,121.4,65.9,71.8,9.35,46.7,42.1,No,Rainy,No
78,10/25/2011,17:24,Tuesday,Home,52.87,123.5,65.1,72.4,8.97,48.7,43.8,No,"Rain, rain, rain",No
91,10/12/2011,17:47,Wednesday,Home,51.40,114.4,59.7,65.8,8.75,51.7,46.9,No,"Rain, rain, rain",No
92,10/12/2011,08:28,Wednesday,GSK,50.58,128.4,59.5,67.3,8.75,51.0,45.1,Yes,Accident: backup from Hamilton to 407 ramp,No
110,9/27/2011,07:36,Tuesday,GSK,50.65,128.1,86.3,88.6,8.31,35.2,34.3,Yes,Raining,No
132,9/7/2011,07:57,Wednesday,GSK,49.08,125.1,56.5,66.5,8.5,52.1,44.3,No,Back to school traffic?,No
133,9/6/2011,16:27,Tuesday,Home,52.88,131.6,95.4,98.3,8.5,33.3,32.3,Yes,Took 407 all the way (to McMaster),No
150,8/24/2011,07:59,Wednesday,GSK,49.07,127.1,58.5,71.5,8.54,50.3,41.1,No,Heavy volume on Derry,No
156,8/19/2011,07:05,Friday,GSK,49.18,123.0,72.0,81.4,8.37,41.0,36.3,No,Start early to run a batch,No
158,8/18/2011,08:11,Thursday,GSK,52.26,137.7,51.2,64.1,8.37,61.2,48.9,No,Accident at 403/highway 6; detour along Dundas,No
165,8/12/2011,17:25,Friday,Home,55.57,127.7,69.6,77.1,8.54,47.9,43.2,No,Detour taken,No
166,8/12/2011,08:05,Friday,GSK,49.02,128.4,76.7,82.9,8.54,38.4,35.5,No,Must be Friday,No
172,8/9/2011,08:15,Tuesday,GSK,49.08,134.8,60.5,67.2,8.54,48.7,43.8,No,Medium amount of rain,No
174,8/8/2011,08:07,Monday,GSK,49.25,126.3,68.5,78.2,8.54,43.1,37.8,No,New tires,No
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,Turn around on Derry,No
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,Empty roads,No
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,Police slowdown on 403,No
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,Accident blocked 407 exit,No

### Exercise 7:

Using the dataframe from the previous exercise, pick a method (Standard Deviation or Interquartile Range) and remove the outliers from the "FuelEconomy" column.

In [99]:
travel_df_no_missing['FuelEconomy'] = travel_df_no_missing.FuelEconomy.astype(float)

travel_df_no_missing.dtypes

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Date               object
StartTime          object
DayOfWeek          object
GoingTo            object
Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
FuelEconomy       float64
TotalTime         float64
MovingTime        float64
Take407All         object
Comments           object
Police             object
dtype: object

In [101]:

meanFuelEconomy= travel_df_no_missing['FuelEconomy'].mean()
stdFuelEconomy = travel_df_no_missing['FuelEconomy'].std()
toprange = meanFuelEconomy + stdFuelEconomy * 1.96
botrange = meanFuelEconomy - stdFuelEconomy * 1.96

newdf = travel_df_no_missing.copy()
newdf = newdf.drop(newdf[newdf['FuelEconomy'] > toprange].index)
newdf = newdf.drop(newdf[newdf['FuelEconomy'] < botrange].index)

newdf.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,Police
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on,No
52,11/16/2011,16:13,Wednesday,Home,51.12,125.1,65.0,73.1,9.53,47.2,41.9,No,Backed up at Bronte,No
54,11/15/2011,17:36,Tuesday,Home,51.06,122.8,61.4,70.9,9.53,49.9,43.2,No,Backed up at Bronte,No
60,11/9/2011,16:15,Wednesday,Home,51.28,121.4,65.9,71.8,9.35,46.7,42.1,No,Rainy,No
78,10/25/2011,17:24,Tuesday,Home,52.87,123.5,65.1,72.4,8.97,48.7,43.8,No,"Rain, rain, rain",No